*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    background-color: rgb(48, 48, 48);
}
*::-webkit-scrollbar{
    display: none;
}
*::selection{
    color: #525252;
    background-color: #fff;
}

.nav{
    display: flex;
}

.card, .card4{
    background-color: rgb(33, 33, 33);
}

.cards{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.card, .card2, card3, .card4{
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    display: flex;
    border-radius: 1rem;
    margin-bottom: 18px;
}

/* .cardimg{
    width: 150px;
    height: fit-content;
    object-fit: cover;
    border-radius: 1rem;
    padding: 20px;
} */

.cardh1{
    width: 18%;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
}
.cardh5{
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 10px;
    margin-right: 10px;
}
.carda{
    width: fit-content;
    padding: 6px 20px;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 12px;
    color: rgb(235, 232, 232);
    background-color: #525252;
    border-radius: 0.3rem;
}
.card2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cardh6{
    font-size: 0.7rem;
    color: #bebebe;
    padding: 4px;
}

.carding{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(33, 33, 33);
    /* margin-bottom: 10px; */
    padding: 5px;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nav{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .card, .card2, .card3{
        width: 100w;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .cardh1{
        width: fit-content;
        padding-bottom: 0px;
    }
    .carding{
        padding: 20px;
    }
  }
